django==4.2.4
python-telegram-bot==20.5
langchain==0.0.268
openai==0.27.6
python-dotenv==1.0.0
psycopg2-binary
gunicorn==21.2.0
telebot==0.0.5
timezonefinder==6.2.0
pytz==2023.3.post1
APScheduler==3.10.4